<section class="content">
  <header class="company-header">
    <h1 class="header">
      <span class="icon">📘</span>
      <span class="text">The Code Magazine</span>
    </h1>
    <nav class="navs">
      <a href="#">Blog</a>
      <a href="#">Challenges</a>
      <a href="#">Flexbox</a>
      <a href="#">CSS Grid</a>
    </nav>
  </header>

  <section class="blog">
    <section class="article">
      <header class="blog-header">
        <h3 class="header">
          The Basic Language of the Web: HTML
        </h3>
        <div class="author">
          <img
          src="../assets//images/laura-jones.jpg"
          alt="Laura Jone's Image"
          class="img"
          />
          <p class="sml-text">
            Posted by <strong> Laura Jones </strong> on Monday, June 21st 2027
          </p>
        </div>
        <p class="label">TOP</p>
      </header>

      <div class="blog-intro">
        <img src="../assets/images/post-img.jpg" alt="Code" class="pic" />
        <div class="text">
          <p>
            All modern websites and web applications are built using three
            <em>fundamental</em> technologies: HTML, CSS and JavaScript. These
            are the languages of the web.
          </p>
          <p>
            In this post, let's focus on HTML. We will learn what HTML is all
            about, and why you too should learn it.
          </p>
        </div>
      </div>

      <div class="blog-content">
        <h3 class="header">What is HTML?</h3>
        <div class="text">
          <p>
            HTML stands for <strong>H</strong>yper<strong>T</strong>ext
            <strong>M</strong>arkup <strong>L</strong>anguage. It's a markup
            language that web developers use to structure and describe the
            content of a webpage (not a programming language).
          </p>
          <p>
            HTML consists of elements that describe different types of content:
            paragraphs, links, headings, images, video, etc. Web browsers
            understand HTML and render HTML code as websites.
          </p>
          <p>In HTML, each element is made up of 3 parts:</p>
          <ol class="list">
            <li>The opening tag</li>
            <li>The closing tag</li>
            <li>The actual element</li>
          </ol>
          <p>
            You can learn more at the
            <a href="" class="link"> MDN Web Docs. </a>
          </p>
        </div>
      </div>

      <div class="blog-content">
        <h3 class="header">Why should you learn HTML?</h3>
        <div class="text">
          <p>
            There are countless reasons for learning the fundamental language of
            the web. Here are 5 of them:
          </p>
          <ul class="list">
            <li>To be able to use the fundamental web dev language</li>
            <li>
              To hand-craft beautiful websites instead of relying on tools like
              Worpress or Wix
            </li>
            <li>To build web applications</li>
            <li>To impress friends</li>
            <li>To have fun 😃</li>
          </ul>
          <p>Hopefully you learned something new here. See you next time!</p>
        </div>
      </div>
    </section>

    <section class="related-post">
      <h3 class="header">Related Posts</h3>
      <ul class="list">
        <li>
          <img
            src="../assets/images/related-1.jpg"
            alt="Related-1"
            width="100px"
          />
          <div>
            <a href="#">How to learn web development</a>
            <p>By Jonas</p>
          </div>
        </li>
        <li>
          <img
            src="../assets/images/related-2.jpg"
            alt="Related-2"
            width="100px"
          />
          <div>
            <a href="#">The Unkown power of CSS</a>
            <p>By Jim</p>
          </div>
        </li>
        <li>
          <img
            src="../assets/images/related-3.jpg"
            alt="Related-3"
            width="100px"
          />
          <div>
            <a href="#">Why JavaScript is awesome</a>
            <p>By Matilda</p>
          </div>
        </li>
      </ul>
    </section>
  </section>

  <footer class="footer">
    <p>Copyright © 2027 by The Code Magazine.</p>
  </footer>
</section>

<button class="like-btn" type="button">❤️ Like</button>
