/* Variables */
$headingColor: #1098ad;

/* General Classes */
@mixin heading($fontsize, $fontstyle, $color) {
  color: $color;
  font-weight: bold;
  font-family: sans-serif;
  font-size: $fontsize;
  font-style: $fontstyle;
}
@mixin text($fontsize, $fontstyle, $color, $lineHeight) {
  color: $color;
  font-size: $fontsize;
  font-style: $fontstyle;
  line-height: $lineHeight;
}
@mixin list($fontsize) {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  li {
    font-size: $fontsize;
  }
  li:first-child {
    font-weight: bold;
  }
  li:last-child {
    font-style: italic;
  }
}
@mixin listRelPosts() {
  display: flex;
  flex-direction: column;
  gap: 5px;
  gap: 30px;
  li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
  }
  li img {
    width: 75px;
    height: auto;
  }
  li a {
    @include link(17px);
    font-weight: bold;
  }
  li p {
    font-size: 14px;
    font-weight: normal;
    font-style: italic;
  }
}
@mixin link($fontsize) {
  color: $headingColor;
  text-decoration: none;
  font-size: $fontsize;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
    font-weight: bold;
    color: orangered;
  }
}

.content {
  width: 83vw;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: start;
  row-gap: 50px;
}

.company-header {
  padding: 20px 40px;
  background-color: #f7f7f7;

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  .header {
    justify-self: start;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
    .text {
      @include heading(30px, italic, #1098ad);
      text-transform: uppercase;
    }
  }
  .navs {
    justify-self: end;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    > * {
      @include link(18px);
    }
  }
}

.blog {
  display: grid;
  grid-template-columns: 2.7fr 1fr;
  column-gap: 75px;
  .article {
    justify-self: start;
    display: grid;
    justify-content: start;
    align-items: start;
    row-gap: 40px;
    .blog-header {
      display: flex;
      flex-direction: column;
      gap: 15px;
      .header {
        @include heading(40px, normal, #1098ad);
      }
      .author {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 10px;
        .img {
          width: 50px;
          height: auto;
        }
        .sml-text {
          @include text(18px, italic, #444, 1);
        }
      }
    }
    .blog-intro {
      display: flex;
      flex-direction: column;
      gap: 20px;
      .pic {
        width: 100%;
        height: auto;
      }
      .text {
        > * {
          @include text(22px, normal, #444, 1.5);
        }
      }
    }
  }
  .related-post {
    justify-self: end;
  }
}

.blog-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .header {
    @include heading(30px, normal, #1098ad);
  }
  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    > * {
      @include text(22px, normal, #444, 1.5);
      .link {
        @include link(22px);
      }
    }
    .list {
      @include list(20px);
    }
  }
}

.related-post {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  padding: 50px 40px;

  align-self: start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  .header {
    @include heading(20px, normal, #444);
    text-transform: uppercase;
  }
  .list {
    @include listRelPosts();
  }
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
}

.like-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 22px;
  padding: 20px;
  cursor: pointer;
}
